input {
    margin-left: 1vw;
    margin-bottom: 1vh;
    width: 64vw;
}

input.form-control {
    border-radius: 0;
}

.table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.table tbody{
    display:block;
    width: 100%;
    overflow-y: auto;
    height: 26em;
}

button.btn {
    color: var(--text);
    background-color: var(--buttons);
    width: 11vw;
}

.table thead tr {
    width: 100%;
    display: block;
}

.table td {
    padding: 1em;
    text-align: center;
    width: 13em;
}

.table th.th-sm {
    text-align: center;
    width: 13em;
}

.scrollHeader {
    width: 1em;
}