app-header {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: var(--componentBg);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

app-rooms-list {
    position: absolute;
    width: 66vw;
    height: 82vh;
    left: 3vw;
    top: 12vh;
    background-color: var(--componentBg);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

button.createBtn {
    position: absolute;
    right: 3vw;
    top: 12vh;
    width: 25vw;
    height: 15vh;
    color: var(--text);
    background-color: var(--buttons);
    border-radius: 0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

app-top-players {
    position: absolute;
    width: 25vw;
    height: 62vh;
    right: 3vw;
    top: 32vh;
    background-color: var(--componentBg);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.modal {
    position: fixed;
    top: 25vh;
}

.modal-content, button.btn {
    border-radius: 0;
}

.input-group-text, input, select {
    border-radius: 0;
}